$primary-color: #011b69;

.w-fit-content {
  width: fit-content
}
.text-justify {
  text-align: justify;
}
.main-text {
  color: #011b69 !important;
}
.main-bg {
  color: white;
  background-color: #011b69 !important;
}
