.sections {
  .box {
    .text {
    }
    .image {
      @media (min-width: 991.98px) {
        width: 150px;

        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}
