.main-btn {
  border-radius: 1rem;
  padding: 0.7rem 1.8rem;
  display: inline-block;
  font: {
    size: 1.3rem;
    weight: bold;
  }
  transition: $trans-duration;

  &:hover {
    color: white !important;
    background-color: $secondary-color !important;
    transform: scale(1.1);
  }
}
